<!DOCTYPE html>
<head>
  <title>Mystery Word Guess</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css" />
  <link href="/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <h1>Mystery Word Game</h1>
  <h3>Created by Justin Kim</h3>

  <p>
    Guess left: {{guessesLeft}}
  </p>
  <p>
    {{loss}}
  </p>
  <div class="">
    <p>
      {{randomWord}}
    </p>

    <p>
      {{#splitWord}}
      {{.}}
      {{/splitWord}}
    </p>

    <p>
      {{#guessWord}}
        {{.}}
      {{/guessWord}}
    </p>

  </div>

  <form class="guess" action="." method="post">
      <input type="text" name="guess" placeholder="Guess a letter!" maxlength="1" autofocus required/>
      <br />
      <button type="submit">Submit</button>
  </form>

  <div>
    <p>
      Guessed letters: {{guessedLetters}}
    </p>
    <p>
      Correctly guessed letters: {{correctLetters}}
    </p>
  </div>

<script src="https://cdn.shoelace.style/1.0.0-beta20/shoelace.js"></script>
</body>

</html>
